@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-container {
  overflow-y: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 4px; 
  height: 2px;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background-color: #e0f1e3;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #429156;
  cursor: pointer;
}
